img {
  max-width: 100%;
  height: auto;
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      color: #fff;
      background-color: #2b2b2b;
      margin: 0;
      padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

main {
  display: block;
  width: 100%;
  padding: 30px 0;
  min-height: 60vh;
  background: #fff;
  color: #333;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 90%;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    width: 14%;
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: left;
    color: #fff;
    background-color: #777;
    border-radius: 10px;
    transition: color 0.15s ease;
    text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #333;
}

.card:nth-child(7n),
.card:first-child {
    margin-left: 0;
}

.card:nth-child(6n) {
    margin-right: 0;
}

.card span.number,
.card p.name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.card-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.card-action span.type {
    display: inline-block;
    color: #fff;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 10px;
    border-radius: 6px;
}
.card-action span:nth-child(2) {
    margin-left: 10px;
}
.card-action span.type-Grass {
    background: #6eb56e;
}
.card-action span.type-Poison {
    background: #e159cf;
}
.card-action span.type-Fire {
    background: #ef9826;
}
.card-action span.type-Water {
    background: #1440a7;
}
.card-action span.type-Bug {
    background: #748946;
}

.error,
.loading {
    text-align: center;
    font-size: 2em;
    padding: 5% 0;
    max-width: 520px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 60px 0;
}

footer p {
    display: block;
    margin-bottom: 6px;
}

@media (max-width: 1600px) {
    .card {
        width: 20%;
    }
    .card:nth-child(7n),
    .card:first-child {
        margin-left: 1.5rem;
    }

    .card:nth-child(6n) {
        margin-right: 1.5rem;
    }
}

@media (max-width: 980px) {
    .card {
        width: 40%;
    }
}

@media (max-width: 600px) {
  .card {
      width: 100%;
  }

}
